{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Cafe</title>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">  
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>   -->
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="bg-coffee-cream">
    <div class="container-fluid bg-coffee-dark p-3">
        <div class="navbar navbar-dark d-flex align-items-center">
            <div class="container-fluid">
                <div class="row w-100 align-items-center">
                    <h1 class="col text-coffee-cream text-center">DigitalCafe</h1>
                    <div class="col-auto">
                        {% if user.is_authenticated %}
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn bg-coffee-cream text-coffee-dark me-3">
                                Logout
                            </button>
                        </form>
                        {% else %}
                        <a href="{% url 'login' %}" class="btn bg-coffee-cream text-coffee-dark me-3">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main m-2 p-4">
        <div class="container mx-auto w-75 bg-coffee-light p-2 rounded" style="--bs-bg-opacity: .3;">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <div class="container-fluid bg-coffee-dark p-3">
        <div class="footer fixed-bottom" style="width: 100%;">
            <p class='text-coffee-cream text-center p-2' style="width: 100%;"> Digital Cafe (c) 2024</p>
        </div>
    </div>
</body>
</html>